#projects-section {
  /* background-image: url('../images/keyboard.jpeg');
  padding-bottom: 15px; */

     background: url('../images/keyboard.jpeg') no-repeat;
     background-size: cover;
     background-attachment: fixed;
     min-height: 820px;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     padding-bottom: 20px;
     /* margin-bottom: 100px; */
}


.projects-dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 820px;
}

h1, h2 {
  color: rgba(255, 255, 255, 0.913);
  text-align: center;
}

.projects-subtitle {
  text-align: center;
  padding: 5px;
}

.card {
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 15px;
}

.card-subtitle {
  min-height: 50px;
}

.card-title {
  min-height: 60px;
  text-decoration: underline;
}

.card-body {
  min-height: 400px;
}

.card-content {
  min-height: 150px;
}

.third {
  padding-top: 10px;
}

.button {
  margin-top: 22px;
}