#projects-section {
  background: url('../images/keyboard.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 800px;
}

h1, h2 {
  color: rgba(255, 255, 255, 0.913);
  text-align: center;
}

.projects-subtitle {
  text-align: center;
  padding: 5px;
}

.projects-content {
  padding-left: 40px;
}

.card {
  text-align: center;
  background-color: grey;
  color: white;
  margin-top: 15px;
}

.card-subtitle {
  min-height: 50px;
}

.card-title {
  min-height: 60px;
  text-decoration: underline;
}

.card-title.third {
  margin-top: 5px;
}

.card-body {
  min-height: 425px;
}

.card-content {
  min-height: 150px;
}

.third {
  padding-top: 10px;
}

.button {
  margin-top: 22px;
}


@media (min-width: 768px) {
  .card-subtitle {
    min-height: 72px;
  }
}

@media (min-width: 1200px) {
  #projects {
    overflow: visible;
    height: 870px;
    background-color: black;
  }
}

@media (max-width: 767px) {
  #projects {
    height: fit-content;
    overflow: visible;
    min-height: 1250px;
    background-color: black;

  }

  #projects-section {
     background: url('../images/keyboard.jpeg') repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* height: inherit; */
  }
  .card-img {
    display: none;
  }
  .card {
    border-radius: 75px;
    height: 75%;
    /* margin-left: 65px; */
    width: 75%;
    display: inline-block;
  }
  .projects-content {
    text-align: center;
  }
  .card-title{
    min-height: 20px;
  }
  .card-subtitle {
    min-height: 20px;
  }
  .card-content {
    min-height: 30px;
  }
  .card-body {
    min-height: 350px;
  }
  a.btn.btn-primary {
    border-radius: 50px;
    width: 100px
  }
  a.btn.btn-primary.first {
    margin-top: 25px;
  }
  a.btn.btn-primary.second {
    margin-top: 15px;
  }
  a.btn.btn-primary.third {
    margin-top: 10px;
  }
}


.projects-class {
  
}
