
@import url('https://fonts.googleapis.com/css?family=Alice|Lora|Nanum+Myeongjo:700|Noto+Serif+JP');

body {
  color: rgb(218, 206, 206);
  font-family: 'Nanum Myeongjo', serif;
  /* width: 100%; */
  margin: 0;
  padding-right: -220px;
}

* {
  width: 100%;
}


